li {
  width: 100px;
  height: 100px;
  list-style-type: none;
  display: inline-block;
  margin: 0.5em;
}

.selected {
  border: 2px solid red;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li:hover {
  cursor: pointer;
  transform: scale(1.5);
}
